.status-slider {
    &__title {
        font-weight: bold;
        margin-bottom: 12px;
    }

    &__subtitle {
        display: none;

        @media (min-width:980px) {
            display: block;
            width: 90%;
            margin: 0 auto;
            text-align: right;
            font-size: 12px;
            & > span:last-child {
                margin-left: 2.5vw;
            }
        }
    }
}
