@import '../../assets/style/shared-styles.scss';

@include animateOpacity(showing);

.detail-card {
    width: 90%;
    max-height: 85vh;
    margin: 20px auto;
    border-radius: 2px;
    text-align: start;
    background-color: #fff;
    overflow: hidden;
    animation: showing 1s ease;

    @media (orientation: landscape) {
        max-height: 80vh;
    }

    &__header {
        padding: 5vh 5vw 2vh 5vw;
        display: flex;
        justify-content: space-between;

        &--item-info {
            display: flex;
            flex-direction: column;
        }

        &--config {
            display: flex;
            align-items: center;
        }


    }
}

.item-info { 
    &--content {
        font-size: 26px;
        color: black;
        font-weight: bold;
    }

    &--title {
        color: #969696;
        font-size: 14px;
    }
}

.config {
    &__settings-button {
        color: $secondaryBlue;
        cursor: pointer;
        display: flex;
        align-items: center;

        &--text {
            font-size: 12px;
            margin-left: 5px;
        }
    }
}

.ant-table-header-column {
    font-weight: bold;
}

.ant-table-thead {
    background-color: #fafafa;
}

.ant-table-fixed {
    font-size: 12px;
}