.slider-controller {
    &__title {
        font-weight: bold;
        margin-bottom: 12px;
    }

    &__subtitle {
        display: none;

        @media (min-width:980px) {
            display: flex;
            width: 90%;
            margin: 0 auto;
            justify-content: space-between;
            font-size: 12px;
            &--right > span:last-child {
                margin-left: 2.5vw;
            }
        }
    }
}
