@import '../../assets/style/shared-styles.scss';
@include animateOpacity(showing);

.config-card {
    max-width: 75vw;
    height: 85vh;
    margin: 20px auto;
    border-radius: 2px;
    text-align: start;
    background-color: #fff;
    overflow: auto;
    padding: 20px 0;
    animation: showing 1s ease;

    @media (orientation: landscape) {
        height: 80vh;
    }

    @media (min-width:800px) {
        width: 90%;
    }

    &__header {
        font-weight: bold;
        padding: 5px 0 0 5vw;
        font-size: 14px;
    }

    &__content {
        margin: 0 1vw;
        padding: 0 20px;

        @media (min-width:980px) {
            margin: 0 auto;
            width: 40vw;
            padding: 0;
        }

        &--actions {
            display: flex;
            justify-content: space-between;

            width: 90%;
            margin: 3vh auto 0 auto;

            @media (min-width:800px) {
                width: 90%;
                display: unset;
            }

            & > Button {
                width: 45%;
                @media (min-width:800px) {
                    width: unset;
                }
            }
        }
    }

}

