@import '../../../assets/style/shared-styles.scss';

@include animateOpacity(showing);

.card-list {
    height: 85vh;
    padding: 1.5vh 0;
    margin-top: 1vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    animation: showing 1s ease;
}