@import '../../../assets/style/shared-styles.scss';

@include animateOpacity(showing);

.card-list {
    height: 92vh;
    padding: 1.5vh 0;
    margin-top: 1vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    animation: showing 1s ease;
    
    @media (min-width:1024px) {
        padding: 1.5vh 2%;
        height: auto;
    }

}