@import '../../assets/style/shared-styles.scss';

.card {
    width: 238px;
	min-height: 150px;
	max-height: 220px;
	margin: 10px;
	border-radius: 2px;
	text-align: start;
	background-color: #fff;
	padding: 14px 14px 5px 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

    &__container {

        &--header {
        	font-size: 11px;
        	color: #acacac;
        	display: flex;
        	align-items: center;
        	justify-content: space-between;
            margin: 1vh 0;
        }

        &--content {
            margin-bottom: 0.5vh;
            display: flex;
        }
    }

    &__footer {
        display: flex;
        font-size: 10px;
        padding: 14px 0 10px 0;
        justify-content: space-between;
        color: rgba(0, 0, 0, 0.54);

        &--status {
            color: green;
		    margin-right: 5px;
        }

        &--moreDetails {
            cursor: pointer;
            color: $secondaryBlue; 
            font-weight: bold;
        }
    }
}

.card-header {
    &__settings-button {
        color: $secondaryBlue; 
		align-self: flex-start; 
		padding-left: 5px;
		position: relative;
		bottom: 5px;
		cursor: pointer;
    }
}

.card-content {

    &__item:not(:last-child) {
        margin-right: 1.5vw;
    }

    &__item {
        text-align: center;

        &--title {
            text-align: start;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.235;
            margin: 0;
        }
    
        &--subtitle {
            color: rgba(0, 0, 0, 0.54);
        }
    }
}
